version: '2'

networks:
  redis-caching:

services:

    golang:
        image: golang:1.10.1-alpine
        networks:
          redis-caching:
        depends_on:
            - redis
        ports:
            - "80:5000"
        volumes:
            - ./vendor/src/github.com:/usr/local/go/src/github.com
            - .:/go/src/redis-cache
        working_dir: /go/src/redis-cache
        command: sh ./run-cache-tests.sh
        links:
            - redis
        environment:
            REDIS: 'redis-backend:6379'
            EXPIRY_TIME: 5000
            CACHE_SIZE: 50
            PORT: '5000'

    redis:
        image: redis:4.0.9-alpine
        networks:
          redis-caching:
            aliases:
              - redis-backend
        restart: unless-stopped
        ports:
            - "6379:6379"
